// COLORS
$color-primary: #e50914;
$color-secondery: #282c34;

$color-white: #fff;

$color-black: #000;
$color-black-light-1: #1a1a1a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #929291;

// $color-blue-light-1: rgba(91, 112, 131, 0.4);
