.movie-list {
  display: flex;
  overflow: scroll;
  padding: 20px;
  
  &.vertical {
    flex-wrap: wrap;
  }
  
  li {
    position: relative;
    margin: 5px;
    transition: transform .3s;
    z-index: 0;

    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
  }
}