@import '../../assets/scss/variables.scss';

.login-modal {
  position: fixed;
  top: 48%;
  left: 53%;
  transform: translate(-48%, -53%);
  width: 333px;
  background-color: #424242;
  border: 2px solid #000;
  box-shadow: 0px 3px 5px -1px rgb(0, 0, 0 / 20%), 0px 5px 8px 0px rgb(0, 0, 0 / 14%), 0px 1px 14px 0px rgb(0, 0, 0 / 12%);
  padding: 16px 32px 24px;

  h2 {
    margin-bottom: 20px;
  }

  .form-content {
    // margin-bottom: 20px;

    .MuiFormControl-root {
      width: 100%;
      margin-bottom: 15px;
    }

    .MuiFormLabel-root, .MuiInputBase-root {
      color: $color-white;
    }

    .MuiFormHelperText-root {
      color: $color-primary;
    }
  }

  .form-actions-container {
    display: flex;
    justify-content: flex-end;
  }
}